//Sass for the content all content contents, contents and entries
//Width to keep header and flexbox aligned
$allContentWidth: 90%;
.contentHeader {
    width: $allContentWidth;
}

.elementDescription {
    width: 75%;
    min-width: 300px;
    margin-bottom: 10px;
}

.contentContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: $allContentWidth;

    .contentPreviewContainer {
        @extend .center;
        width: 90%;
        height: 250px;
        overflow: auto;

        border-radius: 3px;
        border: 2px solid $standard;
        padding: 10px;

    }

    .contentCard {
        width: 100%;
        max-width: 550px;
    }
}
