$minHeight: 300px;

.editInput {
    width: 100%;
    max-width: 250px;
    display: block;
}

.editTitle {
  font-size: 24px;
  width: 100%;
  max-width: 600px;
  input: {
    text-align: center;
  }
}

.editSelector {
  display: block;
  width: 100%;
  max-width: 200px;

  .editSelectorHeader {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
  }

  .editSelectorSearch {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  md-content._md {
    max-height: 240px;
  }
}

// Required for ng-quill
[ng-quill-editor] { display: block; }

.quillEditor {
  .ql-editor {
    min-height: $minHeight;

    img {
      max-width: 100%;
    }
  }
}

//Our Markdown Editor
.markdownContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  .markdownEditorContainer {
    width: 100%;

    .markdownEditorInputContainer {
      width: 100%;
    }
  }

  .markdownPreviewContainer {
    width: 100%;

    .markdownPreview {
      border: 2px solid $standard;
      padding: 10px;
      background-color: $pure;
      height: $minHeight;
      overflow: auto;

      img {
        max-width: 100%;
      }
    }
  }

  //Apply only to large desktops
  @media (min-width: 1024px) {
    .markdownEditorContainer {
      width: 100%;
      max-width: calc(100% / 2 - 50px);
      margin-right: 15px;
    }

    .markdownPreviewContainer {
      width: 100%;
      max-width: calc(100% / 2 - 50px);
      margin-left: 15px;
    }
  }
}
