//General classes that can be used around the app
$containerWidth: 90%;

.center {
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.marginTopBottom {
  margin-top: 5px;
  margin-bottom: 5px;
}

.containerWidth {
  width: $containerWidth;
}

.footer {
    @extend .center;
    @extend .containerWidth;
    border-top: 1px solid $lightShade;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.container {
    @extend .center;
    @extend .containerWidth;
}

.cardForm {
  @extend .center;
  width: 100%;
  max-width: 750px;
  margin-top: 10px;
  margin-bottom: 10px;

  .cardTitle {
    font-size: 24px;
    font-weight: bold;
  }

  .cardInputText {
    display: block;
  }
}

.appToast {
    position: fixed;
}
