<h1>{{page.title}}</h1>

<!-- The title of the page -->
<md-input-container class="editInput">
  <label>Title</label>
  <input type="input" ng-model="page.title" />
</md-input-container>

<!-- The Entry type of the content -->
<sayonara-selector selected-items="page.entryTypes"
  options="entryTypes" selector-label="Displayed Entry Types"
  multiple-selection="true">
</sayonara-selector>

<!-- The Category of the content -->
<sayonara-selector selected-items="page.categories"
  options="categories" selector-label="Categories"
  multiple-selection="true">
</sayonara-selector>

<!-- The order of the page -->
<md-input-container class="editInput">
  <label>Order</label>
  <input type="number" ng-model="page.order" />
</md-input-container>

<!-- The content of the page -->
<sayonara-content ng-model="page.content"></sayonara-content>

<!-- Save button -->
<div class="centerText">
  <md-button class="center md-raised md-primary" ng-disabled="page.title.length < 1" ng-click="savePage()">Save Page</md-button>
</div>

<!-- Delete button -->
<div class="centerText" ng-if="urlId">
  <md-button class="center md-raised md-warn" ng-click="deletePage()">Delete Page</md-button>
</div>
