<h1 class="centerText contentHeader">Settings</h1>

<div class="centerText elementDescription">
  This view shows all settings for the site itself. You can define and edit Entry Types and Categories that are applied to pages and entries. Click the title "Entry Types" or "Categories" to expand the list of Entry Types or Categories. After expanding the list, you may also create new Entry Types or Catgories.
</div>

<!-- Ng-for through all the entry types -->
<h2 class="settingTypeTitle centerText"
  ng-click="showList.entryTypes = !showList.entryTypes">
  <a href="">Entry Types</a>
</h2>
<div class="centerText" ng-show="showList.entryTypes">
  <md-button class="center md-raised md-primary" ng-click="createEntryType()">New Entry Type</md-button>
</div>
<div class="contentContainer" ng-show="showList.entryTypes">
  <md-card class="contentCard" ng-repeat="entryType in entryTypes">

    <md-card-title>
      <md-input-container class="editInput editTitle">
        <input class="centerText" type="input" ng-model="entryTypes[$index].title" />
      </md-input-container>
    </md-card-title>

    <md-card-content>

      <!-- List the Properties of the entry type -->
      <div>
        <md-checkbox ng-model="entryType.hasContent" aria-label="Editable Content" class="md-primary">
              Editable Content
        </md-checkbox>
      </div>
      <!-- The Entry type of the content -->
      <sayonara-selector selected-items="entryType.customFieldTypes"
        options="customFieldTypes" selector-label="Custom Field Types"
        multiple-selection="true">
      </sayonara-selector>
      <div>
        <!-- The order of the entry type -->
        <md-input-container class="editInput">
          <label>Order</label>
          <input type="number" ng-model="entryType.order" />
        </md-input-container>
      </div>

    </md-card-content>

    <md-card-actions layout="row" layout-align="start center">
      <!-- Delete on the left, save on the right -->
      <md-card-icon-actions>
        <md-button class="md-raised md-warn" ng-click="deleteEntryType($index)">Delete</md-button>
      </md-card-icon-actions>
      <md-button class="md-raised" ng-click="saveEntryType(entryType)">Save</md-button>
    </md-card-actions>
  </md-card>
</div>

<!-- Line Break Between the two clickable titles -->
<br ng-show="!showList.entryTypes"/>

<!-- Ng-for through all the categories -->
<h2 class="settingTypeTitle centerText"
  ng-click="showList.categories = !showList.categories">
  <a href="">Categories</a>
</h2>
<div class="centerText" ng-show="showList.categories">
  <md-button class="center md-raised md-primary" ng-click="createCategory()">New Category</md-button>
</div>
<div class="contentContainer" ng-show="showList.categories">
  <md-card class="contentCard" ng-repeat="content in categories">

    <md-card-title>
      <md-input-container class="editInput editTitle">
        <input class="centerText" type="input" ng-model="categories[$index].title" />
      </md-input-container>
    </md-card-title>

    <md-card-content>
      <!-- List the Properties of the Category -->
    </md-card-content>

    <md-card-actions layout="row" layout-align="start center">
      <!-- Delete on the left, save on the right -->
      <md-card-icon-actions>
        <md-button class="md-raised md-warn" ng-click="deleteCategory($index)">Delete</md-button>
      </md-card-icon-actions>
      <md-button class="md-raised" ng-click="saveCategory(content)">Save</md-button>
    </md-card-actions>
  </md-card>
</div>

<!-- Line Break Between the two clickable titles -->
<br ng-show="!showList.categories"/>

<!-- Ng-for through all the customFieldTypes -->
<h2 class="settingTypeTitle centerText"
  ng-click="showList.customFieldTypes = !showList.customFieldTypes">
  <a href="">Custom Field Types</a>
</h2>
<div class="centerText" ng-show="showList.customFieldTypes">
  <md-button class="center md-raised md-primary" ng-click="createCustomFieldType()">New Custom Field Type</md-button>
</div>
<div class="contentContainer" ng-show="showList.customFieldTypes">
  <md-card class="contentCard" ng-repeat="content in customFieldTypes">

    <!-- Title of custom field -->
    <md-card-title>
      <md-input-container class="editInput editTitle">
        <input class="centerText" type="input" ng-model="customFieldTypes[$index].title" />
      </md-input-container>
    </md-card-title>

    <md-card-content>
      <!-- List the Properties of the Category -->

      <!-- Description of custom field -->
      <md-input-container class="editTextArea">
        <textarea ng-model="customFieldTypes[$index].description" >
        </textarea>
      </md-input-container>
    </md-card-content>

    <md-card-actions layout="row" layout-align="start center">
      <!-- Delete on the left, save on the right -->
      <md-card-icon-actions>
        <md-button class="md-raised md-warn" ng-click="deleteCustomFieldType($index)">Delete</md-button>
      </md-card-icon-actions>
      <md-button class="md-raised" ng-click="saveCustomFieldType(content)">Save</md-button>
    </md-card-actions>
  </md-card>
</div>

<!-- Line Break Between the two clickable titles -->
<br ng-show="!showList.categories"/>
